/* vanilla-extract-css-ns:src/atoms.css.ts.vanilla.css?source=#H4sIAAAAAAAAA63YPW/jRhAG4N6/gkCaSyFDpGVZVpogSRMgaYL0wpJcSrT4ZXJlyQ7uv4dfOpEz75CUrcY4QzMPl7Na74u7VyaNi40fFlmk3jdJmuhNnLphpDcb++3ZLE8Pc+u/O8tqK9ZWVfLL3fe7+35nEOkT7Xzod1YloNONUm9PW5f91roG9IZJFPIVP/ebm6JOd7WQP8JceyZMk02eHing1UBVNvPPdWurLBQRL40OcUKdADpNbYd6ORQmDN5/TxOjE7MpTK6Nt6NYWGNt7cxritdWWy1z9eMLo3JDxQiLlwYZ9cofOqdgisGmeGSFOvEplw+srywfmGCmPD1TeXrg6EEYY6dlDHa1OWrNdvs0JLc9HVpF4Tb50+jyn8KO283RqwtnYVWJtrvjyFttP3AK7nNHw3tsL7nENpiuCWyu/SysqL+zmfL9MNn+m2bwj5PdHNW2ambSbG3NcXsRqyhi/QHvX2QnLMTaDw8xI0JOrCQiUvmWv0TEBXuJiN9SU/6KJ5H2ELeuhMNoETyPHCpwJK0jTOUAITiYFsKzOUEHj+cvHRg4HGfeU6KyDo6mBuBgnAcgwLHUBh6KswQIHEmNwIE4z8DA4/gn3O6EefSPTV4VwoE0BJ5IgAw4kkYRZhIiBg6lYfBUIqScx/Jr9WhlFV5e/gm2VOJb3+IwmR1D3+zW1tOyfNrPdf89iENGuZE2ly9kXcgCkWV95/11KCL9C9rfxCLY30QjAjxRoA1HUGgDEiEUJc4RqWfwmEQYv2VgUBqg2rBEtK2gneNSDxQiEyFfWlIOTUNo5zYlbiy53St1iG6vVsJmEnu+X0dXW92zBC0G11pftoOT7UYpQr+J4+2FqXH+HKiI/z7s/4hUvQeAWEVP8PkI42AlafLXwV4gUPwu8IhFvSfkwS8BClpUU+Lq+O7TuEWt85GngUtCmpuDKluk1DeH5LR3B4VeELQagprbgzoxcprbA0HdGEapjFCdIDZA4TkVgiWOqh/JKPcmcOLAesGMau+CJo/tEs+I5djE+hHQRAYOzFlARxxXN6pR6glS4qg6gY1KCkrymDqxjVL0+F2CmwzhSdEj2I1vsiXMih7DboiTMTwtehR7Ua7CxuKcPXcWQ3nO18W+PN+XJ14b6CjweHWio8LqE5GOGu4nMx119NdCHeV2N0h11NzfKtZROLlRrqPu602CHVXNDZMdtY+3jnb0AR83ynbUtR2Udq4Jd0x8FPPTtHTHwBUCJ8c7xrni+sbzHcM0SkKjAY8xO8RMSXhM2iNpQsRjUIKgaRmPWa9C9pkS8hhmBGxiymPeUfCmxTzGfQjclJzH7loHZqHxoMegRwhNSnrMWkFrStRjlAupSVmPWfQoTg97jKLH8aq0xzR6JK+Jewyjx1LOe9+yXAc6L8q7IkrzWeHtdKzXVlQ19OJe/XkZtQ76cb6pP/479Tv/V5i2j6zr1tZPOgiWQUDWfkHsOVReieK7WgU0b10UBysFUdzAd5niKm+/bS5q+a0OrXQpll6NcML7HZEHX5J4wpu+I6/7umMb7at8L+9z9Wn/gdn128yR/Ppd5oj53CZz6O0re8y501e2mHMfozv8P10lG+lvIAAA */
.atoms_display_none_mobile__1v9t6x30 {
  display: none;
}
.atoms_display_flex_mobile__1v9t6x33 {
  display: flex;
}
.atoms_display_block_mobile__1v9t6x36 {
  display: block;
}
.atoms_display_inline_mobile__1v9t6x39 {
  display: inline;
}
.atoms_flexDirection_row_mobile__1v9t6x3c {
  flex-direction: row;
}
.atoms_flexDirection_column_mobile__1v9t6x3f {
  flex-direction: column;
}
.atoms_justifyContent_stretch_mobile__1v9t6x3i {
  justify-content: stretch;
}
.atoms_justifyContent_flex-start_mobile__1v9t6x3l {
  justify-content: flex-start;
}
.atoms_justifyContent_center_mobile__1v9t6x3o {
  justify-content: center;
}
.atoms_justifyContent_flex-end_mobile__1v9t6x3r {
  justify-content: flex-end;
}
.atoms_justifyContent_space-around_mobile__1v9t6x3u {
  justify-content: space-around;
}
.atoms_justifyContent_space-between_mobile__1v9t6x3x {
  justify-content: space-between;
}
.atoms_alignItems_stretch_mobile__1v9t6x310 {
  align-items: stretch;
}
.atoms_alignItems_flex-start_mobile__1v9t6x313 {
  align-items: flex-start;
}
.atoms_alignItems_center_mobile__1v9t6x316 {
  align-items: center;
}
.atoms_alignItems_flex-end_mobile__1v9t6x319 {
  align-items: flex-end;
}
.atoms_paddingTop_none_mobile__1v9t6x31c {
  padding-top: 0;
}
.atoms_paddingTop_small_mobile__1v9t6x31f {
  padding-top: 4px;
}
.atoms_paddingTop_medium_mobile__1v9t6x31i {
  padding-top: 8px;
}
.atoms_paddingTop_large_mobile__1v9t6x31l {
  padding-top: 16px;
}
.atoms_paddingBottom_none_mobile__1v9t6x31o {
  padding-bottom: 0;
}
.atoms_paddingBottom_small_mobile__1v9t6x31r {
  padding-bottom: 4px;
}
.atoms_paddingBottom_medium_mobile__1v9t6x31u {
  padding-bottom: 8px;
}
.atoms_paddingBottom_large_mobile__1v9t6x31x {
  padding-bottom: 16px;
}
.atoms_paddingLeft_none_mobile__1v9t6x320 {
  padding-left: 0;
}
.atoms_paddingLeft_small_mobile__1v9t6x323 {
  padding-left: 4px;
}
.atoms_paddingLeft_medium_mobile__1v9t6x326 {
  padding-left: 8px;
}
.atoms_paddingLeft_large_mobile__1v9t6x329 {
  padding-left: 16px;
}
.atoms_paddingRight_none_mobile__1v9t6x32c {
  padding-right: 0;
}
.atoms_paddingRight_small_mobile__1v9t6x32f {
  padding-right: 4px;
}
.atoms_paddingRight_medium_mobile__1v9t6x32i {
  padding-right: 8px;
}
.atoms_paddingRight_large_mobile__1v9t6x32l {
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .atoms_display_none_tablet__1v9t6x31 {
    display: none;
  }
  .atoms_display_flex_tablet__1v9t6x34 {
    display: flex;
  }
  .atoms_display_block_tablet__1v9t6x37 {
    display: block;
  }
  .atoms_display_inline_tablet__1v9t6x3a {
    display: inline;
  }
  .atoms_flexDirection_row_tablet__1v9t6x3d {
    flex-direction: row;
  }
  .atoms_flexDirection_column_tablet__1v9t6x3g {
    flex-direction: column;
  }
  .atoms_justifyContent_stretch_tablet__1v9t6x3j {
    justify-content: stretch;
  }
  .atoms_justifyContent_flex-start_tablet__1v9t6x3m {
    justify-content: flex-start;
  }
  .atoms_justifyContent_center_tablet__1v9t6x3p {
    justify-content: center;
  }
  .atoms_justifyContent_flex-end_tablet__1v9t6x3s {
    justify-content: flex-end;
  }
  .atoms_justifyContent_space-around_tablet__1v9t6x3v {
    justify-content: space-around;
  }
  .atoms_justifyContent_space-between_tablet__1v9t6x3y {
    justify-content: space-between;
  }
  .atoms_alignItems_stretch_tablet__1v9t6x311 {
    align-items: stretch;
  }
  .atoms_alignItems_flex-start_tablet__1v9t6x314 {
    align-items: flex-start;
  }
  .atoms_alignItems_center_tablet__1v9t6x317 {
    align-items: center;
  }
  .atoms_alignItems_flex-end_tablet__1v9t6x31a {
    align-items: flex-end;
  }
  .atoms_paddingTop_none_tablet__1v9t6x31d {
    padding-top: 0;
  }
  .atoms_paddingTop_small_tablet__1v9t6x31g {
    padding-top: 4px;
  }
  .atoms_paddingTop_medium_tablet__1v9t6x31j {
    padding-top: 8px;
  }
  .atoms_paddingTop_large_tablet__1v9t6x31m {
    padding-top: 16px;
  }
  .atoms_paddingBottom_none_tablet__1v9t6x31p {
    padding-bottom: 0;
  }
  .atoms_paddingBottom_small_tablet__1v9t6x31s {
    padding-bottom: 4px;
  }
  .atoms_paddingBottom_medium_tablet__1v9t6x31v {
    padding-bottom: 8px;
  }
  .atoms_paddingBottom_large_tablet__1v9t6x31y {
    padding-bottom: 16px;
  }
  .atoms_paddingLeft_none_tablet__1v9t6x321 {
    padding-left: 0;
  }
  .atoms_paddingLeft_small_tablet__1v9t6x324 {
    padding-left: 4px;
  }
  .atoms_paddingLeft_medium_tablet__1v9t6x327 {
    padding-left: 8px;
  }
  .atoms_paddingLeft_large_tablet__1v9t6x32a {
    padding-left: 16px;
  }
  .atoms_paddingRight_none_tablet__1v9t6x32d {
    padding-right: 0;
  }
  .atoms_paddingRight_small_tablet__1v9t6x32g {
    padding-right: 4px;
  }
  .atoms_paddingRight_medium_tablet__1v9t6x32j {
    padding-right: 8px;
  }
  .atoms_paddingRight_large_tablet__1v9t6x32m {
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .atoms_display_none_desktop__1v9t6x32 {
    display: none;
  }
  .atoms_display_flex_desktop__1v9t6x35 {
    display: flex;
  }
  .atoms_display_block_desktop__1v9t6x38 {
    display: block;
  }
  .atoms_display_inline_desktop__1v9t6x3b {
    display: inline;
  }
  .atoms_flexDirection_row_desktop__1v9t6x3e {
    flex-direction: row;
  }
  .atoms_flexDirection_column_desktop__1v9t6x3h {
    flex-direction: column;
  }
  .atoms_justifyContent_stretch_desktop__1v9t6x3k {
    justify-content: stretch;
  }
  .atoms_justifyContent_flex-start_desktop__1v9t6x3n {
    justify-content: flex-start;
  }
  .atoms_justifyContent_center_desktop__1v9t6x3q {
    justify-content: center;
  }
  .atoms_justifyContent_flex-end_desktop__1v9t6x3t {
    justify-content: flex-end;
  }
  .atoms_justifyContent_space-around_desktop__1v9t6x3w {
    justify-content: space-around;
  }
  .atoms_justifyContent_space-between_desktop__1v9t6x3z {
    justify-content: space-between;
  }
  .atoms_alignItems_stretch_desktop__1v9t6x312 {
    align-items: stretch;
  }
  .atoms_alignItems_flex-start_desktop__1v9t6x315 {
    align-items: flex-start;
  }
  .atoms_alignItems_center_desktop__1v9t6x318 {
    align-items: center;
  }
  .atoms_alignItems_flex-end_desktop__1v9t6x31b {
    align-items: flex-end;
  }
  .atoms_paddingTop_none_desktop__1v9t6x31e {
    padding-top: 0;
  }
  .atoms_paddingTop_small_desktop__1v9t6x31h {
    padding-top: 4px;
  }
  .atoms_paddingTop_medium_desktop__1v9t6x31k {
    padding-top: 8px;
  }
  .atoms_paddingTop_large_desktop__1v9t6x31n {
    padding-top: 16px;
  }
  .atoms_paddingBottom_none_desktop__1v9t6x31q {
    padding-bottom: 0;
  }
  .atoms_paddingBottom_small_desktop__1v9t6x31t {
    padding-bottom: 4px;
  }
  .atoms_paddingBottom_medium_desktop__1v9t6x31w {
    padding-bottom: 8px;
  }
  .atoms_paddingBottom_large_desktop__1v9t6x31z {
    padding-bottom: 16px;
  }
  .atoms_paddingLeft_none_desktop__1v9t6x322 {
    padding-left: 0;
  }
  .atoms_paddingLeft_small_desktop__1v9t6x325 {
    padding-left: 4px;
  }
  .atoms_paddingLeft_medium_desktop__1v9t6x328 {
    padding-left: 8px;
  }
  .atoms_paddingLeft_large_desktop__1v9t6x32b {
    padding-left: 16px;
  }
  .atoms_paddingRight_none_desktop__1v9t6x32e {
    padding-right: 0;
  }
  .atoms_paddingRight_small_desktop__1v9t6x32h {
    padding-right: 4px;
  }
  .atoms_paddingRight_medium_desktop__1v9t6x32k {
    padding-right: 8px;
  }
  .atoms_paddingRight_large_desktop__1v9t6x32n {
    padding-right: 16px;
  }
}
@media (prefers-color-scheme: light) {
  .atoms_color_blue50_lightMode__1v9t6x32o {
    color: #eff6ff;
  }
  .atoms_color_blue100_lightMode__1v9t6x32q {
    color: #dbeafe;
  }
  .atoms_color_blue200_lightMode__1v9t6x32s {
    color: #bfdbfe;
  }
  .atoms_background_blue50_lightMode__1v9t6x32u {
    background: #eff6ff;
  }
  .atoms_background_blue100_lightMode__1v9t6x32w {
    background: #dbeafe;
  }
  .atoms_background_blue200_lightMode__1v9t6x32y {
    background: #bfdbfe;
  }
}
@media (prefers-color-scheme: dark) {
  .atoms_color_blue50_darkMode__1v9t6x32p {
    color: #eff6ff;
  }
  .atoms_color_blue100_darkMode__1v9t6x32r {
    color: #dbeafe;
  }
  .atoms_color_blue200_darkMode__1v9t6x32t {
    color: #bfdbfe;
  }
  .atoms_background_blue50_darkMode__1v9t6x32v {
    background: #eff6ff;
  }
  .atoms_background_blue100_darkMode__1v9t6x32x {
    background: #dbeafe;
  }
  .atoms_background_blue200_darkMode__1v9t6x32z {
    background: #bfdbfe;
  }
}
