/* vanilla-extract-css-ns:src/theme/vars.css.ts.vanilla.css?source=OnJvb3QgewogIC0tZGlnLXNwYWNlLXNwYWNpbmctMTogNHB4OwogIC0tZGlnLXNwYWNlLXNwYWNpbmctMjogNS42cHg7CiAgLS1kaWctc3BhY2Utc3BhY2luZy0zOiA3LjgzOTk5OTk5OTk5OTk5OXB4OwogIC0tZGlnLXNwYWNlLXNwYWNpbmctNDogMTAuOTc1OTk5OTk5OTk5OTk3cHg7Cn0KOnJvb3QsLmRpZy1UaGVtZS0tYnJpZ2h0IHsKICAtLWRpZy1jb2xvci1iYWNrZ3JvdW5kLWJhc2U6ICNmZmY7CiAgLS1kaWctY29sb3Itb24tYmFja2dyb3VuZC1iYXNlOiAjZmZlOwogIC0tZGlnLWNvbG9yLXRleHQtYmFzZTogIzAwMDsKfQouZGlnLVRoZW1lLS1kYXJrIHsKICAtLWRpZy1jb2xvci1iYWNrZ3JvdW5kLWJhc2U6ICMxNjBiMTc7CiAgLS1kaWctY29sb3Itb24tYmFja2dyb3VuZC1iYXNlOiAjMmExNDJjOwogIC0tZGlnLWNvbG9yLXRleHQtYmFzZTogI2ZmZjsKfQo6cm9vdCB7CiAgLS1kaWctc2hhcGUtYWN0aW9uLWJhc2U6IDRweDsKICAtLWRpZy1zaGFwZS1wYW5lbC1iYXNlOiA4cHg7Cn0= */
:root {
  --dig-space-spacing-1: 4px;
  --dig-space-spacing-2: 5.6px;
  --dig-space-spacing-3: 7.839999999999999px;
  --dig-space-spacing-4: 10.975999999999997px;
}
:root,
.dig-Theme--bright {
  --dig-color-background-base: #fff;
  --dig-color-on-background-base: #ffe;
  --dig-color-text-base: #000;
}
.dig-Theme--dark {
  --dig-color-background-base: #160b17;
  --dig-color-on-background-base: #2a142c;
  --dig-color-text-base: #fff;
}
:root {
  --dig-shape-action-base: 4px;
  --dig-shape-panel-base: 8px;
}

/* vanilla-extract-css-ns:src/Box.css.ts.vanilla.css?source=#H4sIAAAAAAAAA6WZS3PaSBSF9/4VLJ0FLiPxsrOZPDapmtmksncJ1ICMHiDEy1P+74MeDX1O3xZQs01/54hwr8Sn5Ol7dnibBNPlPM+2afgji7O8u0mCOH57i1+K9e7od/596HQuSHdaMq+dXZA/drut0ecvXx8+H57KS4TRZhUHRzx/qaqbI90oksNL0yxWh59RrqZFlKVIzaq+Eji1NISubYlNL+VBHM3TX4VKNojEVXN12o3KY13rCkSXzvftpohmxx9ZWqi0QCyvehvi9M1WiO5uC2aX/nmwwrNDVXr6Y11kEdtLehWEYZTO8bxXD7050zUy+mx1/a1m9Gl7L2ZfNz4BVCpkhlbx72i+YGoGzXlJULWUmlrdfzL6jnoxNBfZinrtRGS1fs+KIksIy6F4UiHULeaMme+jsFjQcT326kS3SZgx+4WyvxqvHn19pHtE0Bj8JMtDlf8OwmhL94FXT74GunlFnJ8d7pQx+0Idim/VjYdIPfjytL4JdauLN0b+8SsNT88IPK/H/dGNyjNdJpLmmLNNZD9QvGbCzeF5tjJsjLXglfLqoRrLZyPGQGPrLvLrcZp3nAAZo8ztSfv1DOHekrChuRD2/vqzZhXMfRdBY1Q7lRfRNIiFifr1xDSBW9CWM+aXBPk84vN6evWR7hPBjIuk29Y/GHV0t7ekttxtPyH7vtlsjtiZeOZW4eHYfzFrYeruzJCLradjf2bWGhvt4o0tmOdR+EclJy8o1MkztklKD4x+vQsld3oA1GApKiV5/hW8WhLZvjKJs+mSsAy1pUKsYGUhmMsxVxJWLErjKFXiZbcYN0lXjfAhDmKL+FkaHaFvafCMDZqiH4NuseD7ZeAbvwWvnd7qIGT4rz0YQsgzQpWIduNyG//JQnVOTKoEaKoLfakm/leiwijobKa5UmknSMPOY3L68M1P6Wg4Xh2+VJ1Pki2X4W1y/oIr8HZhxnTv9Hk6nU99KT0JhILmEg5xRniEjajBiM6b3lsEGpMhXsSQYuSS5grtIo2Zd+wmKUZ20/TfJtSYXeF1SmdG4NiUk1gjtMMWLXk0Zb0kDsEmuid2Vk93IgPsdYo2xUbiBerHPKFzuoJbuCkYitcon/oEJnQFWbwp9C62Nz+sxG7oAm0CTlHakVqvidFrIog4kbQrjWQj5OlVEYWcWFoU8GtC9aZcF3MK0q5cbJs4vShtgk4RWpHGvQnS6yGLOsG8FlrACTtvhEvYiac1KKx99PQSkLgTRQsQ27emr8dvCTxxNPpcWA9fz1wQeSJHvEjCzeDPzyskCD2xNFq0c2L1hG8Re4rSvBvXJEhPWxR8YldSofhs8I9Q2yb6FNxJ1xAe0/0+XsEh/BTqSe3SE7ofYL1T/Ck2ki5gP6L7c6wXXwAoQlsjCTwl9O7c/SJAPe+yh9VaTuyKdaxRciFfmRXFNxyvXVxIw7sBtey4BV8P3G3SRzo6ypyf7PymgEWDHhddXhas36n6hYEK+vAz1bwziFHrKxmMKOvp7DXh7z17/Vbjj08Le3mHuFP4IezJewbMpF33gR232T6QiztkH4LK6fqApTepPkSWraYPaHGX6EN0bXs+nH/Img/MXrZ8YHoD9EyWfIQ9t+MjOMFWp+Jjatxi+EguqN8t+JhTTr9HLqV+We8xs2yze0QLqm+Te0yuJbdHRK+GoPYI7kWzxztfr4co9oh6LV6P5ASeeW1aj7mxy+oR08vRJvWYUKLTI6NXQlZ6ZHkVtKEjdd4Cl9AjvrZ9HgE9eNJ5hPaCzQPh65FbMo+YJ7k8InrOgsojOBZNHpnFeWkEkUdUtXk8onqqt2g8JpeixSNTgE2SxCO6bnF4JD+gtE3hMbd3Gjxw/QH2OwQeM57b3xGcYLlT3zE1dtk7YgssF+UdE+q6u2NA78vd6o41yzZzR3R9p7hjuuD0bd6OJfv/pe3Y9eHoum7t6LPe3dKO+QH8Bl1xdoyOryr74ypXM5Vvmn/R30wXKlGvnTDIl4aw14flH8K/9k+beuG/Biw2aPbo8z9TNpmCIiMAAA== */
.Box_backgroundColor-small__l9tqvy3 {
  background-color: var(--backgroundColor-small__l9tqvy0);
}
.Box_display-small__l9tqvy9 {
  display: var(--display-small__l9tqvy6);
}
.Box_flexDirection-small__l9tqvyf {
  flex-direction: var(--flexDirection-small__l9tqvyc);
}
.Box_alignItems-small__l9tqvyl {
  align-items: var(--alignItems-small__l9tqvyi);
}
.Box_justifyContent-small__l9tqvyr {
  justify-content: var(--justifyContent-small__l9tqvyo);
}
.Box_gap-small__l9tqvyx {
  gap: var(--gap-small__l9tqvyu);
}
.Box_padding-small__l9tqvy13 {
  padding: var(--padding-small__l9tqvy10);
}
.Box_paddingLeft-small__l9tqvy19 {
  padding-left: var(--paddingLeft-small__l9tqvy16);
}
.Box_paddingRight-small__l9tqvy1f {
  padding-right: var(--paddingRight-small__l9tqvy1c);
}
.Box_paddingTop-small__l9tqvy1l {
  padding-top: var(--paddingTop-small__l9tqvy1i);
}
.Box_paddingBottom-small__l9tqvy1r {
  padding-bottom: var(--paddingBottom-small__l9tqvy1o);
}
.Box_width-small__l9tqvy1x {
  width: var(--width-small__l9tqvy1u);
}
.Box_height-small__l9tqvy23 {
  height: var(--height-small__l9tqvy20);
}
.Box_borderRadius-small__l9tqvy29 {
  border-radius: var(--borderRadius-small__l9tqvy26);
}
.Box_textAlign-small__l9tqvy2f {
  text-align: var(--textAlign-small__l9tqvy2c);
}
.Box_zIndex-small__l9tqvy2l {
  z-index: var(--zIndex-small__l9tqvy2i);
}
.Box_position-small__l9tqvy2r {
  position: var(--position-small__l9tqvy2o);
}
.Box_top-small__l9tqvy2x {
  top: var(--top-small__l9tqvy2u);
}
.Box_left-small__l9tqvy33 {
  left: var(--left-small__l9tqvy30);
}
.Box_right-small__l9tqvy39 {
  right: var(--right-small__l9tqvy36);
}
.Box_bottom-small__l9tqvy3f {
  bottom: var(--bottom-small__l9tqvy3c);
}
.Box_verticalAlign-small__l9tqvy3l {
  vertical-align: var(--verticalAlign-small__l9tqvy3i);
}
.Box_margin-small__l9tqvy3r {
  margin: var(--margin-small__l9tqvy3o);
}
.Box_marginBottom-small__l9tqvy3x {
  margin-bottom: var(--marginBottom-small__l9tqvy3u);
}
.Box_marginLeft-small__l9tqvy43 {
  margin-left: var(--marginLeft-small__l9tqvy40);
}
.Box_marginRight-small__l9tqvy49 {
  margin-right: var(--marginRight-small__l9tqvy46);
}
.Box_marginTop-small__l9tqvy4f {
  margin-top: var(--marginTop-small__l9tqvy4c);
}
.Box_gridTemplateColumns-small__l9tqvy4l {
  grid-template-columns: var(--gridTemplateColumns-small__l9tqvy4i);
}
.Box_display-block-small__l9tqvy4o {
  display: block;
}
.Box_display-flex-small__l9tqvy4r {
  display: flex;
}
.Box_display-inline-block-small__l9tqvy4u {
  display: inline-block;
}
.Box_display-inline-flex-small__l9tqvy4x {
  display: inline-flex;
}
.Box_display-contents-small__l9tqvy50 {
  display: contents;
}
.Box_border-thin-small__l9tqvy53 {
  border: 1px;
}
.Box_border-thick-small__l9tqvy56 {
  border: 2px;
}
.Box_color-lightMode__l9tqvy5b {
  color: var(--color-lightMode__l9tqvy59);
}
@media screen and (min-width: 768px) {
  .Box_backgroundColor-medium__l9tqvy4 {
    background-color: var(--backgroundColor-medium__l9tqvy1);
  }
  .Box_display-medium__l9tqvya {
    display: var(--display-medium__l9tqvy7);
  }
  .Box_flexDirection-medium__l9tqvyg {
    flex-direction: var(--flexDirection-medium__l9tqvyd);
  }
  .Box_alignItems-medium__l9tqvym {
    align-items: var(--alignItems-medium__l9tqvyj);
  }
  .Box_justifyContent-medium__l9tqvys {
    justify-content: var(--justifyContent-medium__l9tqvyp);
  }
  .Box_gap-medium__l9tqvyy {
    gap: var(--gap-medium__l9tqvyv);
  }
  .Box_padding-medium__l9tqvy14 {
    padding: var(--padding-medium__l9tqvy11);
  }
  .Box_paddingLeft-medium__l9tqvy1a {
    padding-left: var(--paddingLeft-medium__l9tqvy17);
  }
  .Box_paddingRight-medium__l9tqvy1g {
    padding-right: var(--paddingRight-medium__l9tqvy1d);
  }
  .Box_paddingTop-medium__l9tqvy1m {
    padding-top: var(--paddingTop-medium__l9tqvy1j);
  }
  .Box_paddingBottom-medium__l9tqvy1s {
    padding-bottom: var(--paddingBottom-medium__l9tqvy1p);
  }
  .Box_width-medium__l9tqvy1y {
    width: var(--width-medium__l9tqvy1v);
  }
  .Box_height-medium__l9tqvy24 {
    height: var(--height-medium__l9tqvy21);
  }
  .Box_borderRadius-medium__l9tqvy2a {
    border-radius: var(--borderRadius-medium__l9tqvy27);
  }
  .Box_textAlign-medium__l9tqvy2g {
    text-align: var(--textAlign-medium__l9tqvy2d);
  }
  .Box_zIndex-medium__l9tqvy2m {
    z-index: var(--zIndex-medium__l9tqvy2j);
  }
  .Box_position-medium__l9tqvy2s {
    position: var(--position-medium__l9tqvy2p);
  }
  .Box_top-medium__l9tqvy2y {
    top: var(--top-medium__l9tqvy2v);
  }
  .Box_left-medium__l9tqvy34 {
    left: var(--left-medium__l9tqvy31);
  }
  .Box_right-medium__l9tqvy3a {
    right: var(--right-medium__l9tqvy37);
  }
  .Box_bottom-medium__l9tqvy3g {
    bottom: var(--bottom-medium__l9tqvy3d);
  }
  .Box_verticalAlign-medium__l9tqvy3m {
    vertical-align: var(--verticalAlign-medium__l9tqvy3j);
  }
  .Box_margin-medium__l9tqvy3s {
    margin: var(--margin-medium__l9tqvy3p);
  }
  .Box_marginBottom-medium__l9tqvy3y {
    margin-bottom: var(--marginBottom-medium__l9tqvy3v);
  }
  .Box_marginLeft-medium__l9tqvy44 {
    margin-left: var(--marginLeft-medium__l9tqvy41);
  }
  .Box_marginRight-medium__l9tqvy4a {
    margin-right: var(--marginRight-medium__l9tqvy47);
  }
  .Box_marginTop-medium__l9tqvy4g {
    margin-top: var(--marginTop-medium__l9tqvy4d);
  }
  .Box_gridTemplateColumns-medium__l9tqvy4m {
    grid-template-columns: var(--gridTemplateColumns-medium__l9tqvy4j);
  }
  .Box_display-block-medium__l9tqvy4p {
    display: block;
  }
  .Box_display-flex-medium__l9tqvy4s {
    display: flex;
  }
  .Box_display-inline-block-medium__l9tqvy4v {
    display: inline-block;
  }
  .Box_display-inline-flex-medium__l9tqvy4y {
    display: inline-flex;
  }
  .Box_display-contents-medium__l9tqvy51 {
    display: contents;
  }
  .Box_border-thin-medium__l9tqvy54 {
    border: 1px;
  }
  .Box_border-thick-medium__l9tqvy57 {
    border: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .Box_backgroundColor-large__l9tqvy5 {
    background-color: var(--backgroundColor-large__l9tqvy2);
  }
  .Box_display-large__l9tqvyb {
    display: var(--display-large__l9tqvy8);
  }
  .Box_flexDirection-large__l9tqvyh {
    flex-direction: var(--flexDirection-large__l9tqvye);
  }
  .Box_alignItems-large__l9tqvyn {
    align-items: var(--alignItems-large__l9tqvyk);
  }
  .Box_justifyContent-large__l9tqvyt {
    justify-content: var(--justifyContent-large__l9tqvyq);
  }
  .Box_gap-large__l9tqvyz {
    gap: var(--gap-large__l9tqvyw);
  }
  .Box_padding-large__l9tqvy15 {
    padding: var(--padding-large__l9tqvy12);
  }
  .Box_paddingLeft-large__l9tqvy1b {
    padding-left: var(--paddingLeft-large__l9tqvy18);
  }
  .Box_paddingRight-large__l9tqvy1h {
    padding-right: var(--paddingRight-large__l9tqvy1e);
  }
  .Box_paddingTop-large__l9tqvy1n {
    padding-top: var(--paddingTop-large__l9tqvy1k);
  }
  .Box_paddingBottom-large__l9tqvy1t {
    padding-bottom: var(--paddingBottom-large__l9tqvy1q);
  }
  .Box_width-large__l9tqvy1z {
    width: var(--width-large__l9tqvy1w);
  }
  .Box_height-large__l9tqvy25 {
    height: var(--height-large__l9tqvy22);
  }
  .Box_borderRadius-large__l9tqvy2b {
    border-radius: var(--borderRadius-large__l9tqvy28);
  }
  .Box_textAlign-large__l9tqvy2h {
    text-align: var(--textAlign-large__l9tqvy2e);
  }
  .Box_zIndex-large__l9tqvy2n {
    z-index: var(--zIndex-large__l9tqvy2k);
  }
  .Box_position-large__l9tqvy2t {
    position: var(--position-large__l9tqvy2q);
  }
  .Box_top-large__l9tqvy2z {
    top: var(--top-large__l9tqvy2w);
  }
  .Box_left-large__l9tqvy35 {
    left: var(--left-large__l9tqvy32);
  }
  .Box_right-large__l9tqvy3b {
    right: var(--right-large__l9tqvy38);
  }
  .Box_bottom-large__l9tqvy3h {
    bottom: var(--bottom-large__l9tqvy3e);
  }
  .Box_verticalAlign-large__l9tqvy3n {
    vertical-align: var(--verticalAlign-large__l9tqvy3k);
  }
  .Box_margin-large__l9tqvy3t {
    margin: var(--margin-large__l9tqvy3q);
  }
  .Box_marginBottom-large__l9tqvy3z {
    margin-bottom: var(--marginBottom-large__l9tqvy3w);
  }
  .Box_marginLeft-large__l9tqvy45 {
    margin-left: var(--marginLeft-large__l9tqvy42);
  }
  .Box_marginRight-large__l9tqvy4b {
    margin-right: var(--marginRight-large__l9tqvy48);
  }
  .Box_marginTop-large__l9tqvy4h {
    margin-top: var(--marginTop-large__l9tqvy4e);
  }
  .Box_gridTemplateColumns-large__l9tqvy4n {
    grid-template-columns: var(--gridTemplateColumns-large__l9tqvy4k);
  }
  .Box_display-block-large__l9tqvy4q {
    display: block;
  }
  .Box_display-flex-large__l9tqvy4t {
    display: flex;
  }
  .Box_display-inline-block-large__l9tqvy4w {
    display: inline-block;
  }
  .Box_display-inline-flex-large__l9tqvy4z {
    display: inline-flex;
  }
  .Box_display-contents-large__l9tqvy52 {
    display: contents;
  }
  .Box_border-thin-large__l9tqvy55 {
    border: 1px;
  }
  .Box_border-thick-large__l9tqvy58 {
    border: 2px;
  }
}
@media (prefers-color-scheme: dark) {
  .Box_color-darkMode__l9tqvy5c {
    color: var(--color-darkMode__l9tqvy5a);
  }
}

/* vanilla-extract-css-ns:src/atoms.css.ts.vanilla.css?source=#H4sIAAAAAAAAA63YTW/jNhAG4Ht+hYBetgcHluI4jnspdnsp0F6K3g1KomzF+opExXaK/e/Vl2Nx+I4kJ74EG3jmETU0wxd7L1QaFxs/LLJInDZJmshNnLphJDebpNzt9+Hc+u/OsrqCtVVX/Hb38+5ebwwieSSND3pjXQEa3Sj19qRzqXc2JaA1TKLQWO6z3tvW9JrrZfwR5tJTYZps8vRA+r2mv66a+eeytVXVsYaXRmWcECaATFvak17KQoXB6UeaKJmoTaFyqbwdscLG6kpnXlu7trpiXmueXiiRKwJGGLzU86ZX/ZA58VLstbUj65OJT7R8YHVV9cD0MuHJmcjT0jBLZoS9jjHXleogJd3n4xDctfRkEYXb5E8lq3/ivbbb49bUzcK6EG10j2E32X4wJbjDPQzurr00IWNr6YrMbbWfmfXoe5oJ3w+T7b9phv4Y2e3x7IpmKs3W1hx3F7GIItoemO2L7IiBWPphGVMhNIUVJ0Qi3xpvEJmAvUTC91RVv8IppJrhNoVwEJ0BZ5FDBI6jY/BESujAoXQOnMsRMng0f8lAocE4cw2JqjI4lqYfDcV5AAAcSUPAgThLYMBxNAYahvMMCDyKf8LtDs9CPyp5XQeH0QpwGgEi4DhaBM8jRAocSKvAiUQIOY/k9/rBwiq8vPpza4nEt77FYTI7hL7ara2nZfWwX5v+exB3lHAjqT6+h02dEXgs66fZ3oQevX1B29vYA9vb6KP3P9H+LvxAoAtAuiCocI5AGmHGIF3xOwUGoQGpC0M6tmWwcxzSPCYS6eJLJ/KhaMjs3Zk6G3Ns/+IckrsLVFczTj3foqNrrW9T3SwGV9pcqYNT7UclXX5jR6uFpXH9HJh0/jTMf0QmzQexiZza87HFwYnD2C+CvUAe+y0wIxThnhAHtx8FKYIJdm3mvtM4RajzMaeBijPaW4IgW4Q0twTHdPcEcV6Qsxpy2puCMDFi2psCOf2YRaSMSL2gNSDBGRUMxY5Jj1xEe2M0dlha8CLYicH4kV3il045NqE+AhiroGE5C8iwo+pHMSI9QYkdUy+QEUhAiB9RL5YRiR65SzDjHTgleuz68Yyn8Jzo0euHNN6Ck6LHT4tqtTUW1+y5sxjKa74s9tWZ/njgtYGN9D9endgIsPpEZCOE+8nMRhj5tdBGtN0NUhsh97eKbcRNbpTbCPt6k+BGUHXD5Ebow62jG/Hfb5TdCGs7KNBcE94o+MgmpGnpjXor5E2Ob1Rz2dWN5zdqSRR2RgMcVXZImZLgKLRH0IQIR50EOdMyHKVemXgzJcRRSzHWxBRHuQPDTYtxVHtntCk5jt6pDow740GOOo/QmZTkKLWC1JQoRyUXSpOyHKXo8Zse5qhEj+BVaY5i9BheE+eoRY8in+e+ZbkMZF5U90KU5rPC28lYrq2obtDiXPN5FaZK+TjfNB//nfqX/+pLuyc2ZWvrFxkEyyAgK78Y9hwhrwTxXSkCmqguiAORgiBu4LsG4gpvv23vY/aVyg661HLvRTT8cgfEwTckHH7NE+L67zq2xb7I9/wO159qz8uu32DDyK/fX8NQn9tew3n7yu4a2vErm2to76N7+z/cg0caAyAAAA== */
.atoms_display_none_mobile__nuhkki0 {
  display: none;
}
.atoms_display_flex_mobile__nuhkki3 {
  display: flex;
}
.atoms_display_block_mobile__nuhkki6 {
  display: block;
}
.atoms_display_inline_mobile__nuhkki9 {
  display: inline;
}
.atoms_flexDirection_row_mobile__nuhkkic {
  flex-direction: row;
}
.atoms_flexDirection_column_mobile__nuhkkif {
  flex-direction: column;
}
.atoms_justifyContent_stretch_mobile__nuhkkii {
  justify-content: stretch;
}
.atoms_justifyContent_flex-start_mobile__nuhkkil {
  justify-content: flex-start;
}
.atoms_justifyContent_center_mobile__nuhkkio {
  justify-content: center;
}
.atoms_justifyContent_flex-end_mobile__nuhkkir {
  justify-content: flex-end;
}
.atoms_justifyContent_space-around_mobile__nuhkkiu {
  justify-content: space-around;
}
.atoms_justifyContent_space-between_mobile__nuhkkix {
  justify-content: space-between;
}
.atoms_alignItems_stretch_mobile__nuhkki10 {
  align-items: stretch;
}
.atoms_alignItems_flex-start_mobile__nuhkki13 {
  align-items: flex-start;
}
.atoms_alignItems_center_mobile__nuhkki16 {
  align-items: center;
}
.atoms_alignItems_flex-end_mobile__nuhkki19 {
  align-items: flex-end;
}
.atoms_paddingTop_none_mobile__nuhkki1c {
  padding-top: 0;
}
.atoms_paddingTop_small_mobile__nuhkki1f {
  padding-top: 4px;
}
.atoms_paddingTop_medium_mobile__nuhkki1i {
  padding-top: 8px;
}
.atoms_paddingTop_large_mobile__nuhkki1l {
  padding-top: 16px;
}
.atoms_paddingBottom_none_mobile__nuhkki1o {
  padding-bottom: 0;
}
.atoms_paddingBottom_small_mobile__nuhkki1r {
  padding-bottom: 4px;
}
.atoms_paddingBottom_medium_mobile__nuhkki1u {
  padding-bottom: 8px;
}
.atoms_paddingBottom_large_mobile__nuhkki1x {
  padding-bottom: 16px;
}
.atoms_paddingLeft_none_mobile__nuhkki20 {
  padding-left: 0;
}
.atoms_paddingLeft_small_mobile__nuhkki23 {
  padding-left: 4px;
}
.atoms_paddingLeft_medium_mobile__nuhkki26 {
  padding-left: 8px;
}
.atoms_paddingLeft_large_mobile__nuhkki29 {
  padding-left: 16px;
}
.atoms_paddingRight_none_mobile__nuhkki2c {
  padding-right: 0;
}
.atoms_paddingRight_small_mobile__nuhkki2f {
  padding-right: 4px;
}
.atoms_paddingRight_medium_mobile__nuhkki2i {
  padding-right: 8px;
}
.atoms_paddingRight_large_mobile__nuhkki2l {
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .atoms_display_none_tablet__nuhkki1 {
    display: none;
  }
  .atoms_display_flex_tablet__nuhkki4 {
    display: flex;
  }
  .atoms_display_block_tablet__nuhkki7 {
    display: block;
  }
  .atoms_display_inline_tablet__nuhkkia {
    display: inline;
  }
  .atoms_flexDirection_row_tablet__nuhkkid {
    flex-direction: row;
  }
  .atoms_flexDirection_column_tablet__nuhkkig {
    flex-direction: column;
  }
  .atoms_justifyContent_stretch_tablet__nuhkkij {
    justify-content: stretch;
  }
  .atoms_justifyContent_flex-start_tablet__nuhkkim {
    justify-content: flex-start;
  }
  .atoms_justifyContent_center_tablet__nuhkkip {
    justify-content: center;
  }
  .atoms_justifyContent_flex-end_tablet__nuhkkis {
    justify-content: flex-end;
  }
  .atoms_justifyContent_space-around_tablet__nuhkkiv {
    justify-content: space-around;
  }
  .atoms_justifyContent_space-between_tablet__nuhkkiy {
    justify-content: space-between;
  }
  .atoms_alignItems_stretch_tablet__nuhkki11 {
    align-items: stretch;
  }
  .atoms_alignItems_flex-start_tablet__nuhkki14 {
    align-items: flex-start;
  }
  .atoms_alignItems_center_tablet__nuhkki17 {
    align-items: center;
  }
  .atoms_alignItems_flex-end_tablet__nuhkki1a {
    align-items: flex-end;
  }
  .atoms_paddingTop_none_tablet__nuhkki1d {
    padding-top: 0;
  }
  .atoms_paddingTop_small_tablet__nuhkki1g {
    padding-top: 4px;
  }
  .atoms_paddingTop_medium_tablet__nuhkki1j {
    padding-top: 8px;
  }
  .atoms_paddingTop_large_tablet__nuhkki1m {
    padding-top: 16px;
  }
  .atoms_paddingBottom_none_tablet__nuhkki1p {
    padding-bottom: 0;
  }
  .atoms_paddingBottom_small_tablet__nuhkki1s {
    padding-bottom: 4px;
  }
  .atoms_paddingBottom_medium_tablet__nuhkki1v {
    padding-bottom: 8px;
  }
  .atoms_paddingBottom_large_tablet__nuhkki1y {
    padding-bottom: 16px;
  }
  .atoms_paddingLeft_none_tablet__nuhkki21 {
    padding-left: 0;
  }
  .atoms_paddingLeft_small_tablet__nuhkki24 {
    padding-left: 4px;
  }
  .atoms_paddingLeft_medium_tablet__nuhkki27 {
    padding-left: 8px;
  }
  .atoms_paddingLeft_large_tablet__nuhkki2a {
    padding-left: 16px;
  }
  .atoms_paddingRight_none_tablet__nuhkki2d {
    padding-right: 0;
  }
  .atoms_paddingRight_small_tablet__nuhkki2g {
    padding-right: 4px;
  }
  .atoms_paddingRight_medium_tablet__nuhkki2j {
    padding-right: 8px;
  }
  .atoms_paddingRight_large_tablet__nuhkki2m {
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .atoms_display_none_desktop__nuhkki2 {
    display: none;
  }
  .atoms_display_flex_desktop__nuhkki5 {
    display: flex;
  }
  .atoms_display_block_desktop__nuhkki8 {
    display: block;
  }
  .atoms_display_inline_desktop__nuhkkib {
    display: inline;
  }
  .atoms_flexDirection_row_desktop__nuhkkie {
    flex-direction: row;
  }
  .atoms_flexDirection_column_desktop__nuhkkih {
    flex-direction: column;
  }
  .atoms_justifyContent_stretch_desktop__nuhkkik {
    justify-content: stretch;
  }
  .atoms_justifyContent_flex-start_desktop__nuhkkin {
    justify-content: flex-start;
  }
  .atoms_justifyContent_center_desktop__nuhkkiq {
    justify-content: center;
  }
  .atoms_justifyContent_flex-end_desktop__nuhkkit {
    justify-content: flex-end;
  }
  .atoms_justifyContent_space-around_desktop__nuhkkiw {
    justify-content: space-around;
  }
  .atoms_justifyContent_space-between_desktop__nuhkkiz {
    justify-content: space-between;
  }
  .atoms_alignItems_stretch_desktop__nuhkki12 {
    align-items: stretch;
  }
  .atoms_alignItems_flex-start_desktop__nuhkki15 {
    align-items: flex-start;
  }
  .atoms_alignItems_center_desktop__nuhkki18 {
    align-items: center;
  }
  .atoms_alignItems_flex-end_desktop__nuhkki1b {
    align-items: flex-end;
  }
  .atoms_paddingTop_none_desktop__nuhkki1e {
    padding-top: 0;
  }
  .atoms_paddingTop_small_desktop__nuhkki1h {
    padding-top: 4px;
  }
  .atoms_paddingTop_medium_desktop__nuhkki1k {
    padding-top: 8px;
  }
  .atoms_paddingTop_large_desktop__nuhkki1n {
    padding-top: 16px;
  }
  .atoms_paddingBottom_none_desktop__nuhkki1q {
    padding-bottom: 0;
  }
  .atoms_paddingBottom_small_desktop__nuhkki1t {
    padding-bottom: 4px;
  }
  .atoms_paddingBottom_medium_desktop__nuhkki1w {
    padding-bottom: 8px;
  }
  .atoms_paddingBottom_large_desktop__nuhkki1z {
    padding-bottom: 16px;
  }
  .atoms_paddingLeft_none_desktop__nuhkki22 {
    padding-left: 0;
  }
  .atoms_paddingLeft_small_desktop__nuhkki25 {
    padding-left: 4px;
  }
  .atoms_paddingLeft_medium_desktop__nuhkki28 {
    padding-left: 8px;
  }
  .atoms_paddingLeft_large_desktop__nuhkki2b {
    padding-left: 16px;
  }
  .atoms_paddingRight_none_desktop__nuhkki2e {
    padding-right: 0;
  }
  .atoms_paddingRight_small_desktop__nuhkki2h {
    padding-right: 4px;
  }
  .atoms_paddingRight_medium_desktop__nuhkki2k {
    padding-right: 8px;
  }
  .atoms_paddingRight_large_desktop__nuhkki2n {
    padding-right: 16px;
  }
}
@media (prefers-color-scheme: light) {
  .atoms_color_blue50_lightMode__nuhkki2o {
    color: #eff6ff;
  }
  .atoms_color_blue100_lightMode__nuhkki2q {
    color: #dbeafe;
  }
  .atoms_color_blue200_lightMode__nuhkki2s {
    color: #bfdbfe;
  }
  .atoms_background_blue50_lightMode__nuhkki2u {
    background: #eff6ff;
  }
  .atoms_background_blue100_lightMode__nuhkki2w {
    background: #dbeafe;
  }
  .atoms_background_blue200_lightMode__nuhkki2y {
    background: #bfdbfe;
  }
}
@media (prefers-color-scheme: dark) {
  .atoms_color_blue50_darkMode__nuhkki2p {
    color: #eff6ff;
  }
  .atoms_color_blue100_darkMode__nuhkki2r {
    color: #dbeafe;
  }
  .atoms_color_blue200_darkMode__nuhkki2t {
    color: #bfdbfe;
  }
  .atoms_background_blue50_darkMode__nuhkki2v {
    background: #eff6ff;
  }
  .atoms_background_blue100_darkMode__nuhkki2x {
    background: #dbeafe;
  }
  .atoms_background_blue200_darkMode__nuhkki2z {
    background: #bfdbfe;
  }
}
